.myBtn{
    float: right;
    margin-right: 5px;
}
.fg{
    display: flex;
    flex-direction: row;  
}
.fc{
    margin-right: 5px;
}
.myCard{
    display: inline-block
}

.smallBtn{
    margin-right: 5px;
}
.nodata{
    width: 150px;
    height: 200px;
    margin: auto;
    background-image: url(no-data.jpg);
    background-size: cover;
}